* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

@keyframes animation-pages {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

body {
  background-color: black;
  animation: animation-pages 1.5s ease;
  opacity: 1; }

header {
  background: #a86464;
  background: linear-gradient(78deg, #a86464 32%, #804674 75%);
  max-width: 100%; }

#menu-burger {
  display: none; }

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*Titulo y Logo de la Barra de Navegacion*/
  /*Botones de la Barra de Navegacion*/ }
  nav .title-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    /*Animacion del Logo*/ }
    nav .title-logo h2 {
      font-size: 44px; }

@keyframes animation_logo {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.8); }
  100% {
    transform: scale(1); } }
    nav .title-logo img {
      width: 6rem;
      height: 6rem;
      transition: transform 0.3s ease-in-out;
      transform: scale(1);
      transition: border 0.1s ease-in; }
    nav .title-logo img:hover {
      border: 2px solid #ffffff;
      border-radius: 50%;
      background-color: #804674; }
  nav .buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*Animacion de Botones*/ }
    nav .buttons div {
      padding: 2rem; }
    nav .buttons a {
      text-decoration: none;
      font-size: 27px;
      font-weight: bold;
      color: #000000;
      transition: border 0.1s ease-in;
      padding: 5px; }
    nav .buttons a:hover {
      border: 2px solid #ffffff;
      border-radius: 20px;
      background-color: #a86464;
      padding: 5px; }

/*Media Queries*/
@media (max-width: 1400px) {
  nav .title-logo {
    gap: 2rem; }
    nav .title-logo h2 {
      font-size: 34px; }
  nav .buttons div {
    padding: 2.3rem; }
  nav .buttons a {
    font-size: 25px; } }

@media (max-width: 1150px) {
  header {
    background: linear-gradient(78deg, #a86464 27%, #804674 75%); }
  nav .title-logo {
    gap: 1.5rem; }
    nav .title-logo h2 {
      font-size: 30px; }
  nav .buttons div {
    padding: 1.7rem; }
  nav .buttons a {
    font-size: 22px; } }

@media (max-width: 900px) {
  nav .title-logo {
    gap: 1rem; }
    nav .title-logo h2 {
      font-size: 28px; }
    nav .title-logo img {
      width: 7rem;
      height: 7rem; }
  nav .buttons div {
    padding: 1rem; }
  nav .buttons a {
    font-size: 20px; } }

@media (max-width: 800px) {
  header {
    background: #a86464;
    background: linear-gradient(78deg, #a86464 19%, #804674 75%); }
  #menu-burger {
    display: block; }
  nav .title-logo h2 {
    font-size: 40px; }
  nav .buttons {
    display: none; }
  .menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.7rem;
    height: 4.7rem;
    background-color: #a86464;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 11;
    cursor: pointer; }
  .menu-btn:before,
  .menu-btn:after,
  .menu-btn span {
    content: "";
    position: absolute;
    border-radius: 10px;
    height: 4px;
    width: 39px;
    background-color: #ffffff;
    transition: transform 0.3s ease; }
  .menu-btn:before {
    transform: translateY(-13px); }
  .menu-btn span {
    transform: translateY(); }
  .menu-btn:after {
    transform: translateY(13px); }
  .menu-btn span.hide {
    display: none; }
  .menu-btn.close:before {
    transform: translateY(0) rotate(-45deg); }
  .menu-btn.close:after {
    transform: translateY(0) rotate(45deg); }
  .offcanvas {
    position: fixed;
    top: 0;
    right: -80%;
    width: 70%;
    height: 100%;
    background-color: #161616af;
    padding: 50px 20px;
    transition: transform 0.6s ease;
    z-index: 10; }
    .offcanvas a {
      display: block;
      font-size: 25px;
      margin-bottom: 20px;
      color: #ffffff;
      text-decoration: none;
      height: auto;
      width: 35%; }
  .offcanvas.show {
    transform: translateX(-110%); }
  .close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
  .menu-line {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    margin: 10px 0; } }

@media (max-width: 600px) {
  nav .title-logo h2 {
    font-size: 33px; }
  nav .title-logo img {
    width: 6rem;
    height: 6rem; }
  .menu-btn {
    width: 4rem;
    height: 4rem; }
  .menu-btn:before,
  .menu-btn:after,
  .menu-btn span {
    height: 3px;
    width: 34px; }
  .menu-btn:before {
    transform: translateY(-11px); }
  .menu-btn:after {
    transform: translateY(11px); }
  .offcanvas a {
    font-size: 22px; }
  .offcanvas.show {
    transform: translateX(-100%); } }

@media (max-width: 490px) {
  nav .title-logo h2 {
    font-size: 30px; }
  nav .title-logo img {
    width: 5.7rem;
    height: 5.7rem; }
  .menu-btn {
    width: 3.5rem;
    height: 3.5rem; }
  .menu-btn:before,
  .menu-btn:after,
  .menu-btn span {
    height: 3px;
    width: 27px; }
  .menu-btn:before {
    transform: translateY(-9px); }
  .menu-btn:after {
    transform: translateY(9px); }
  .offcanvas a {
    font-size: 20px; } }

@media (max-width: 440px) {
  header {
    background: #a86464;
    background: linear-gradient(78deg, #a86464 3%, #804674 75%); }
  nav .title-logo h2 {
    font-size: 24px; } }

@media (max-width: 395px) {
  nav .title-logo h2 {
    font-size: 22px; }
  nav .title-logo img {
    width: 5rem;
    height: 5rem; }
  .menu-btn {
    width: 3rem;
    height: 3rem; } }

@media (max-width: 350px) {
  nav .title-logo h2 {
    font-size: 20px; }
  nav .title-logo img {
    width: 4.8rem;
    height: 4.8rem; }
  .menu-btn {
    width: 2.6rem;
    height: 2.6rem; }
  .menu-btn:before,
  .menu-btn:after,
  .menu-btn span {
    height: 2px;
    width: 20px; }
  .menu-btn:before {
    transform: translateY(-7px); }
  .menu-btn:after {
    transform: translateY(7px); } }

body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 100%;
  grid-template-rows: auto; }
  body .grid-header {
    grid-area: header;
    border-bottom: solid 2px #F5FFC9; }
  body .grid-main {
    grid-area: main;
    background: #a86464;
    background: linear-gradient(78deg, #a86464 40%, #804674 75%); }
  body .grid-footer {
    grid-area: footer; }

footer {
  background-color: #b3e5be;
  display: flex;
  flex-direction: column;
  gap: 17px; }
  footer .reserved {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 17px;
    top: 10px; }
    footer .reserved h2 {
      font-size: 22px; }
    footer .reserved .footer-line {
      width: 100%;
      height: 2px;
      background-color: #00000062; }
  footer .network {
    display: flex;
    align-items: center;
    justify-content: space-evenly; }

@keyframes animation-network {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-8px); }
  100% {
    transform: translateY(0); } }
    footer .network a img {
      width: 70px;
      height: 70px;
      mix-blend-mode: color-burn; }
    footer .network a img:hover {
      animation: animation-network 0.3s ease;
      transform: translateY(0); }

@media (max-width: 550px) {
  footer .reserved h2 {
    font-size: 18px; }
  footer .network a img {
    width: 50px;
    height: 50px; } }

.contact .section-contact1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px; }
  .contact .section-contact1 h2 {
    font-size: 40px; }

@keyframes wp {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }
  .contact .section-contact1 div a .contact-wp {
    height: 210px;
    width: 210px;
    transform: scale(1);
    border-radius: 38% 27%; }
  .contact .section-contact1 div a .contact-wp:hover {
    animation: wp 0.5s ease;
    background-color: #a86464; }

.contact .br {
  padding: 30px; }

.contact .section-contact2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px; }
  .contact .section-contact2 h2 {
    font-size: 40px; }

@media (max-width: 1450px) {
  .contact .section-contact1 h2 {
    font-size: 37px; }
  .contact .section-contact1 div a .contact-wp {
    height: 200px;
    width: 200px; }
  .contact .section-contact2 h2 {
    font-size: 35px; } }

@media (max-width: 1280px) {
  .contact .section-contact1 h2 {
    font-size: 34px; }
  .contact .section-contact1 div a .contact-wp {
    height: 198px;
    width: 198px; }
  .contact .section-contact2 h2 {
    font-size: 31px; } }

@media (max-width: 1120px) {
  .contact .section-contact1 h2 {
    font-size: 30px; }
  .contact .section-contact1 div a .contact-wp {
    height: 190px;
    width: 190px; }
  .contact .section-contact2 h2 {
    font-size: 27px; } }

@media (max-width: 990px) {
  .contact .section-contact1 h2 {
    font-size: 27px; }
  .contact .section-contact1 div a .contact-wp {
    height: 180px;
    width: 180px; }
  .contact .section-contact2 h2 {
    font-size: 23px; }
  .contact .section-contact2 div iframe {
    width: 700px;
    height: 380px; } }

@media (max-width: 820px) {
  .contact .section-contact1 h2 {
    font-size: 24px; }
  .contact .section-contact1 div a .contact-wp {
    height: 170px;
    width: 170px; }
  .contact .section-contact2 h2 {
    font-size: 23px; }
  .contact .section-contact2 div iframe {
    width: 600px;
    height: 340px; } }

@media (max-width: 780px) {
  .contact .section-contact1 {
    gap: 20px; }
  .contact .section-contact2 {
    gap: 13px; }
    .contact .section-contact2 h2 {
      font-size: 20px; }
    .contact .section-contact2 div iframe {
      width: 537px;
      height: 328px; } }

@media (max-width: 550px) {
  .contact .br {
    padding: 1px;
    width: 100%;
    height: 20px;
    background-color: #0000003b; }
  .contact .section-contact2 h2 {
    font-size: 18px; }
  .contact .section-contact2 div iframe {
    width: 430px;
    height: 300px; } }

@media (max-width: 470px) {
  .contact .section-contact1 h2 {
    font-size: 20px; }
  .contact .br {
    padding: 1px;
    width: 100%;
    height: 33px;
    background-color: #0000003b; }
  .contact .section-contact2 {
    gap: 25px; }
    .contact .section-contact2 h2 {
      font-size: 17px; }
    .contact .section-contact2 div iframe {
      width: 400px;
      height: 290px; } }

@media (max-width: 390px) {
  .contact .section-contact2 div iframe {
    width: 333px;
    height: 248px; } }

#grid-index {
  display: grid;
  grid-template-areas: "note" "section-index1" "section-index2";
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto; }
  #grid-index .note {
    display: flex;
    justify-content: center;
    grid-area: note;
    background-color: #000000;
    padding: 1rem; }
    #grid-index .note h2 {
      color: #ffffff;
      font-size: 20px; }
  #grid-index .section-index1 {
    padding: 59px;
    gap: 200px;
    grid-area: section-index1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
  #grid-index .section-index2 {
    gap: 60px;
    grid-area: section-index2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px; }

.card {
  position: relative; }
  .card .container {
    height: 46rem;
    width: 40rem; }
    .card .container .box {
      transition: all 0.5s ease-in-out;
      position: absolute;
      z-index: 2;
      height: 100%;
      width: 100%;
      cursor: pointer; }
      .card .container .box a img {
        border-radius: 19px;
        height: 100%;
        width: 100%; }
      .card .container .box .box-txt {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        bottom: 33%; }
        .card .container .box .box-txt h2 {
          font-size: 42px; }
        .card .container .box .box-txt .line-img {
          width: 60%;
          border-radius: 9px;
          height: 4px;
          background-color: #ffffff; }
    .card .container .box2 {
      transition: all 0.5s ease-in-out;
      border-radius: 19px;
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 1;
      background-color: #f5ffc9;
      display: flex;
      flex-direction: column;
      justify-content: end;
      cursor: pointer; }
      .card .container .box2 h2 {
        position: absolute;
        font-size: 33px;
        left: 200px;
        bottom: 11px; }
    .card .container:hover .box2 {
      transform: translate(2.8rem, 2.8rem); }
    .card .container:hover .box {
      transform: translate(-2.8rem, -2.8rem); }

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: translateY(-100px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.card2 {
  position: relative;
  opacity: 1;
  transform: translateY(0); }
  .card2 .container {
    height: 22rem;
    width: 22rem; }
    .card2 .container .box {
      transition: all 0.5s ease-in-out;
      position: absolute;
      z-index: 2;
      height: 100%;
      width: 100%;
      cursor: pointer; }
      .card2 .container .box img {
        border-radius: 19px;
        height: 100%;
        width: 100%; }
      .card2 .container .box .box-txt {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        bottom: 100%; }
        .card2 .container .box .box-txt h2 {
          font-size: 28px; }
        .card2 .container .box .box-txt .line-img {
          width: 65%;
          border-radius: 9px;
          height: 4px;
          background-color: #000000; }
    .card2 .container .box2 {
      transition: all 0.5s ease-in-out;
      border-radius: 19px;
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 1;
      background-color: #000000;
      display: flex;
      flex-direction: column;
      justify-content: end;
      cursor: pointer; }
      .card2 .container .box2 h2 {
        position: absolute;
        font-size: 18px;
        left: 10px;
        bottom: 11px;
        color: #ffffff; }
    .card2 .container:hover .box2 {
      transform: translate(1.8rem, 1.8rem); }
    .card2 .container:hover .box {
      transform: translate(-1.8rem, -1.8rem); }

.card2.activado {
  animation: aparecer 1s forwards ease-in-out; }

@media (max-width: 1700px) {
  #grid-index .note {
    padding: 0.8rem; }
    #grid-index .note h2 {
      font-size: 18px; }
  #grid-index .section-index1 {
    padding: 54px;
    gap: 90px; }
  #grid-index .section-index2 {
    gap: 25px;
    padding: 2rem; }
  .card .container {
    height: 41rem;
    width: 35rem; }
    .card .container .box .box-txt h2 {
      font-size: 37px; }
    .card .container .box .box-txt .line-img {
      width: 50%; }
    .card .container .box2 h2 {
      font-size: 30px; }
    .card .container:hover .box2 {
      transform: translate(2.5rem, 2.5rem); }
    .card .container:hover .box {
      transform: translate(-2.5rem, -2.5rem); }
  .card2 .container {
    height: 19rem;
    width: 19rem; }
    .card2 .container .box .box-txt h2 {
      font-size: 23px; }
    .card2 .container .box .box-txt .line-img {
      width: 59%; }
    .card2 .container .box2 h2 {
      font-size: 15px; }
    .card2 .container:hover .box2 {
      transform: translate(1rem, 1rem); }
    .card2 .container:hover .box {
      transform: translate(-1rem, -1rem); } }

@media (max-width: 1350px) {
  #grid-index .note h2 {
    font-size: 16px; }
  #grid-index .section-index1 {
    gap: 53px; }
  .card .container {
    height: 37rem;
    width: 30rem; }
    .card .container .box .box-txt h2 {
      font-size: 30px; }
    .card .container .box .box-txt .line-img {
      width: 46%; }
    .card .container .box2 h2 {
      left: 60px;
      font-size: 20px; }
    .card .container:hover .box2 {
      transform: translate(2.2rem, 2.2rem); }
    .card .container:hover .box {
      transform: translate(-2.2rem, -2.2rem); }
  .card2 .container {
    height: 17rem;
    width: 17rem; }
    .card2 .container .box .box-txt h2 {
      font-size: 18px; }
    .card2 .container .box .box-txt .line-img {
      width: 50%; }
    .card2 .container .box2 h2 {
      font-size: 15px; }
    .card2 .container:hover .box2 {
      transform: translate(1rem, 1rem); }
    .card2 .container:hover .box {
      transform: translate(-1rem, -1rem); } }

@media (max-width: 1150px) {
  #grid-index .note h2 {
    font-size: 12px; }
  #grid-index .section-index1 {
    gap: 53px; }
  .card .container {
    height: 27rem;
    width: 20rem; }
    .card .container .box .box-txt h2 {
      font-size: 20px; }
    .card .container .box .box-txt .line-img {
      width: 46%; }
    .card .container .box2 h2 {
      font-size: 17px;
      left: 40px; }
    .card .container:hover .box2 {
      transform: translate(2rem, 2rem); }
    .card .container:hover .box {
      transform: translate(-2rem, -2rem); }
  .card2 .container {
    height: 16rem;
    width: 16rem; }
    .card2 .container .box .box-txt h2 {
      font-size: 18px; }
    .card2 .container .box .box-txt .line-img {
      width: 50%; }
    .card2 .container .box2 h2 {
      font-size: 15px; }
    .card2 .container:hover .box2 {
      transform: translate(1rem, 1rem); }
    .card2 .container:hover .box {
      transform: translate(-1rem, -1rem); } }

@media (max-width: 1150px) {
  #grid-index .note h2 {
    font-size: 12px; }
  #grid-index .section-index1 {
    gap: 53px; }
  #grid-index .section-index2 {
    gap: 100px;
    padding: 2rem; }
  .card .container {
    height: 27rem;
    width: 20rem; }
    .card .container .box .box-txt h2 {
      font-size: 20px; }
    .card .container .box .box-txt .line-img {
      width: 46%; }
    .card .container .box2 h2 {
      font-size: 17px;
      left: 40px; }
    .card .container:hover .box2 {
      transform: translate(2rem, 2rem); }
    .card .container:hover .box {
      transform: translate(-2rem, -2rem); }
  .card2 .container .box .box-txt h2 {
    font-size: 18px; }
  .card2 .container .box .box-txt .line-img {
    width: 50%; }
  .card2 .container .box2 h2 {
    font-size: 15px; }
  .card2 .container:hover .box2 {
    transform: translate(1rem, 1rem); }
  .card2 .container:hover .box {
    transform: translate(-1rem, -1rem); } }

@media (max-width: 680px) {
  #grid-index .note h2 {
    font-size: 12px; }
  #grid-index .section-index1 {
    gap: 53px; }
  #grid-index .section-index2 {
    gap: 20px;
    padding: 2rem; }
  .card2 .container {
    height: 9rem;
    width: 9rem; }
    .card2 .container .box .box-txt h2 {
      font-size: 13px; }
    .card2 .container .box .box-txt .line-img {
      height: 2px;
      width: 50%; }
    .card2 .container .box2 h2 {
      font-size: 10px; }
    .card2 .container:hover .box2 {
      transform: translate(1rem, 1rem); }
    .card2 .container:hover .box {
      transform: translate(-0.6rem, -0.6rem); } }

@media (max-width: 380px) {
  .card .container {
    height: 22rem;
    width: 17rem; }
    .card .container .box .box-txt h2 {
      font-size: 18px; }
    .card .container .box .box-txt .line-img {
      width: 45%; }
    .card .container .box2 h2 {
      font-size: 14px; }
    .card .container:hover .box2 {
      transform: translate(1.5rem, 1.5rem); }
    .card .container:hover .box {
      transform: translate(-1.5rem, -1.5rem); }
  #grid-index .note h2 {
    font-size: 10px; }
  #grid-index .section-index1 {
    gap: 40px;
    padding: 29px; }
  #grid-index .section-index2 {
    gap: 20px;
    padding: 2rem; }
  .card2 .container {
    height: 8rem;
    width: 8rem; }
    .card2 .container .box .box-txt h2 {
      font-size: 10px; }
    .card2 .container .box .box-txt .line-img {
      height: 2px;
      width: 50%; }
    .card2 .container .box2 h2 {
      font-size: 8px; }
    .card2 .container:hover .box2 {
      transform: translate(1rem, 1rem); }
    .card2 .container:hover .box {
      transform: translate(-0.6rem, -0.6rem); } }
