* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@keyframes animation-pages {

    0% {
        opacity: 0;
    }


    100% {
        opacity: 1;
    }
}

body {
    background-color: rgb(0, 0, 0);
    animation: animation-pages 1.5s ease;
    opacity: 1;
}

@import "../scss/ui_components_style/nav.scss";
@import "../scss/structure/grid.scss";
@import "../scss/ui_components_style/footer.scss";
@import "../scss/pages/contactanos.scss";
@import "../scss/pages/index.scss";