.cartBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.7rem;
    height: 4.7rem;
    background-color: #d8d8d8;
    border-radius: 50%;
    box-shadow: 3px 2px 5px #000000;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 28;
    cursor: pointer;

    &:hover {
        box-shadow: 4px 3px 8px #000000;
    }

    img {
        height: 68%;
        width: 68%;
    }
}

.cartOffCanvas {
    position: fixed;
    top: 0;
    right: -80%;
    width: 70%;
    height: 100%;
    background-color: #245953ec;
    padding: 50px 20px;
    transition: transform 0.6s ease;
    z-index: 27;

    .title-cart {
        position: absolute;
        left: 32.5rem;
        font-size: 80px;
        border-bottom: #d8d8d8 solid;
    }

    .txt-prod {
        position: absolute;
        font-size: 35px;
        top: 11rem;
        left: 10rem;

        #displayData {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            gap: 2rem;
            border-bottom: #000000 solid;
            font-size: 30px;
            font-weight: bold;

            .removeBtn {
                border: #000000;
                box-shadow: #272626 2px 1px 6px;
                border-radius: 50%;
                position: absolute;
                top: 5.2rem;
                right: 5rem;
                font-size: 23px;
                font-weight: bold;
                color: #ffffff;
                background-color: #000000;
                height: 2.1rem;
                width: 2.1rem;
                cursor: pointer;
            }
        }
    }

    .txt-price {
        position: absolute;
        font-size: 35px;
        left: 10rem;
        top: 25rem;
        border-bottom: #000000 solid;
    }

    .btnBuy {
        width: 23rem;
        position: absolute;
        font-size: 29px;
        top: 31.6rem;
        left: 30rem;
        background-color: #d8d8d8;
        border: #d8d8d8;
        font-weight: bold;
        padding: 6px;
        box-shadow: 4px 4px 8px;
        border-radius: 20px;

        &:hover {
            box-shadow: 6px 6px 10px;
        }
    }

    &.show {
        transform: translateX(-110%);
    }

    .closeCartBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .line-cart {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000000;
        margin: 10px 0;
        top: 35rem;
    }
}

.ventas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 17px;
    padding: 20px;

    .card-sale {
        background-color: #d8d8d8;
        position: relative;
        height: 26rem;
        width: 22rem;
        perspective: 1000px;
        border-radius: 19px;
        cursor: pointer;
        box-shadow: 2px 2px 4px;

        .front {
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 19px;
            background-color: #245953;
            backface-visibility: hidden;
            transition: transform 0.5s ease-in-out;
            transform: rotateY(0deg);
            gap: 2px;
            box-shadow: 3px 3px 8px;

            .front-img {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    border-radius: 60px;
                    object-fit: contain;
                    width: 90%;
                    height: 100%;
                }
            }

            .txt-sale-front {
                position: relative;
                bottom: 17px;
                font-size: 30px;
            }

            &:hover {
                box-shadow: 5px 5px 13px;
            }
        }

        .back {
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 19px;
            background-color: #245953;
            backface-visibility: hidden;
            transition: transform 0.5s ease-in-out;
            transform: rotateY(180deg);
            box-shadow: 3px 3px 8px;

            .back-img {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    object-fit: contain;
                    width: 70%;
                    height: 70%;
                }
            }

            .txt1-sale-back {
                position: relative;
                bottom: 50px;
                font-size: 25px;
            }

            .txt2-sale-back {
                position: relative;
                bottom: 40px;
                font-size: 22px;
                font-weight: bold;
            }

            .btnAggCart {
                position: relative;
                bottom: 24px;
                background-color: #d8d8d8;
                border: #d8d8d8;
                font-weight: bold;
                padding: 6px;
                box-shadow: 4px 4px 8px;
                border-radius: 20px;
                font-size: 25px;

                &:hover {
                    box-shadow: 6px 6px 10px;
                }
            }
        }

        &[data-state="back"] .front {
            transform: rotateY(-180deg);
        }

        &[data-state="back"] .back {
            transform: rotateY(0deg);
        }
    }
}

@media (max-width: 1900px) {
    .cartOffCanvas {
        .title-cart {
            left: 30rem;
            font-size: 60px;
        }

        .txt-prod {
            top: 9rem;
            left: 2rem;

            #displayData {
                font-size: 30px;

                .removeBtn {
                    top: 5rem;
                    right: 5rem;
                    font-size: 22px;
                    height: 2rem;
                    width: 2rem;
                }
            }
        }

        .txt-price {
            left: 1.4rem;
            top: 26rem;
            font-size: 33px;
        }

        .btnBuy {
            font-size: 30px;
            top: 29rem;
            left: 26.8rem;
        }
    }
}

@media (max-width: 1300px) {
    .cartOffCanvas {
        .title-cart {
            left: 20rem;
            font-size: 48px;
        }

        .txt-prod {
            #displayData {
                font-size: 26px;
            }
        }

        .txt-price {
            left: 1.4rem;
            top: 26rem;
            font-size: 26px;
        }

        .btnBuy {
            width: 18.5rem;
            font-size: 24px;
            top: 31rem;
            left: 18rem;
        }
    }
}

@media (max-width: 1300px) {
    .cartOffCanvas {
        .title-cart {
            left: 17rem;
            font-size: 43px;
        }

        .txt-prod {
            #displayData {
                font-size: 20px;
            }
        }

        .txt-price {
            left: 1.4rem;
            top: 20rem;
            font-size: 26px;
        }

        .btnBuy {
            width: 12em;
            font-size: 20px;
            top: 31rem;
            left: 9rem;
        }
    }
}

@media (max-width: 800px) {
    .cartBtn{
        bottom: 4.5rem;
    }

    .cartOffCanvas {
        .title-cart {
            left: 4rem;
            font-size: 40px;
        }

        .txt-prod {
            top: 9rem;
            left: 2rem;

            #displayData {
                flex-direction: column;
                font-size: 20px;

                .removeBtn {
                    top: 1rem;
                    left: 11.48rem;
                    font-size: 19.5px;
                    height: 1.8rem;
                    width: 1.8rem;
                }
            }
        }

        .txt-price {
            left: 1.4rem;
            top: 26rem;
            font-size: 28px;
        }

        .btnBuy {
            height: 4rem;
            width: 10rem;
            font-size: 20px;
            top: 30rem;
            left: 3.7rem;
        }
    }
}

@media (max-width: 600px) {
    .cartBtn {
        width: 4rem;
        height: 4rem;
    }
}

@media (max-width: 490px) {
    .cartBtn {
        width: 3.5rem;
        height: 3.5rem;
    }
}

@media (max-width: 395px) {
    .cartBtn {
        width: 3rem;
        height: 3rem;
    }

    .cartOffCanvas {
        .title-cart {
            left: 4rem;
            font-size: 40px;
        }

        .txt-prod {
            top: 9rem;
            left: 2rem;

            #displayData {
                flex-direction: column;
                font-size: 20px;

                .removeBtn {
                    top: 1rem;
                    left: 11.48rem;
                    font-size: 19.5px;
                    height: 1.8rem;
                    width: 1.8rem;
                }
            }
        }

        .txt-price {
            left: 1.4rem;
            top: 26rem;
            font-size: 28px;
        }

        .btnBuy {
            height: 4rem;
            width: 10rem;
            font-size: 20px;
            top: 30rem;
            left: 3.7rem;
        }
    }
}

@media (max-width: 375px) {
    .cartOffCanvas {
        .title-cart {
            left: 4rem;
            font-size: 40px;
        }

        .txt-prod {
            top: 9rem;
            left: 2rem;

            #displayData {
                flex-direction: column;
                font-size: 20px;

                .removeBtn {
                    top: 1rem;
                    left: 10rem;
                    font-size: 19.5px;
                    height: 1.8rem;
                    width: 1.8rem;
                }
            }
        }

        .txt-price {
            left: 1.4rem;
            top: 26rem;
            font-size: 28px;
        }

        .btnBuy {
            height: 3rem;
            width: 7rem;
            font-size: 14px;
            top: 30rem;
            left: 3.7rem;
        }
    }
}

@media (max-width: 360px) {
    .cartBtn {
        width: 2.6rem;
        height: 2.6rem;
    }
}