.div-btn-dark_mode {
    position: fixed;
    z-index: 2;
    bottom: -40px;
    left: -160px;
    scale: 0.25;

    .label-btn-dark-mode {
        width: 500px;
        height: 200px;
        position: relative;
        display: block;
        background: #ebebeb;
        border-radius: 200px;
        box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
            inset 0px -5px 15px rgba(255, 255, 255, 0.4);
        cursor: pointer;
    }

    .label-btn-dark-mode:after {
        content: "";
        width: 180px;
        height: 180px;
        position: absolute;
        top: 10px;
        left: 10px;
        background: linear-gradient(180deg, #ffcc89, #d8860b);
        border-radius: 180px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    }

    .label-btn-dark-mode,
    .label-btn-dark-mode:after {
        transition: 0.3s;
    }

    .label-btn-dark-mode:active:after {
        width: 260px;
    }

    .input-btn-dark-mode {
        width: 0;
        height: 0;
        visibility: hidden;
    }

    .input-btn-dark-mode:checked+.label-btn-dark-mode {
        background: #242424;
    }

    .input-btn-dark-mode:checked+.label-btn-dark-mode:after {
        left: 490px;
        transform: translateX(-100%);
        background: linear-gradient(180deg, #777, #3a3a3a);
    }

    .input-btn-dark-mode:checked+.label-btn-dark-mode+.sun {
        fill: #7e7e7e;
    }

    .input-btn-dark-mode:checked+.label-btn-dark-mode+.moon {
        fill: #7e7e7e;
    }

    .sun-moon {
        position: absolute;
        width: 120px;
        top: 40px;
        z-index: 1;
    }

    .sun {
        position: absolute;
        height: 9.5rem;
        width: 9.5rem;
        left: 17%;
        bottom: -135px;
        fill: #fff;
        transition: 0.3s;
    }

    .moon {
        position: absolute;
        height: 9rem;
        width: 9rem;
        left: 273%;
        bottom: -130px;
        fill: #7e7e7e;
        transition: 0.3s;
    }
}

body.dark-mode {

    header {
        background-color: #0c1615;
    }

    nav {
        .title-logo {
            h2 {
                color: #fff;
            }
        }

        .buttons {
            a {
                color: #fff;
            }
        }
    }

    .cartOffCanvas {
        background-color: #0c1615cb;

        .title-cart {
            color: #fff;
            border-bottom: #fff solid;
        }

        .txt-prod {
            color: #fff;
            border-bottom: #fff solid;
        }

        .txt-price {
            color: #fff;
            border-bottom: #fff solid;
        }
    }

    .grid-main {
        background-color: #3f3838;
    }


    .card {
        .container {
            .box {
                .box-txt {
                    h2 {
                        color: #fff;
                        border-bottom: #fff solid 2.5px;
                    }
                }
            }

            .box2 {
                background-color: #0c1615;
                color: #fff;
            }
        }
    }

    .ventas{
        .card-sale{
            background-color: #000;
            .front{
                background-color: #1b1d1d;
            }
            .back{
                background-color: #1b1d1d;
            }
        }
    }
}