/*color de nav*/

header {
    background-color: #245953;
    max-width: 100%;
}

/*Menu Hamburguesa*/

#menu-burger {
    display: none;
}

/*UI-BarraNav*/

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /*Titulo y Logo de la Barra de Navegacion*/

    .title-logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;

        h2 {
            font-size: 45px;
        }

        /*Animacion del Logo*/

        @keyframes animation_logo {
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(0.8);
            }

            100% {
                transform: scale(1);
            }
        }

        img {
            width: 5rem;
            height: 6rem;
            margin: 0.8rem 3rem;
            object-fit: contain;
        }
    }

    /*Botones de la Barra de Navegacion*/

    .buttons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        div {
            padding: 2rem;
        }

        a {
            text-decoration: none;
            font-size: 27px;
            font-weight: bold;
            color: #000000;
            transition: 0.08s ease-in-out;
            padding: 10px;

            /*Animacion de Botones*/
            &:hover {
                border-bottom: solid 2px #d8d8d8;
            }
        }
    }
}

/*Animacion para las notas*/

@keyframes note-animate {
    0% {
        opacity: 0;
        transform: translateY(-26px);
    }

    20% {
        opacity: 1;
        transform: translateY(0);
    }

    40% {
        opacity: 1;
        transform: translateY(0);
    }

    60% {
        opacity: 1;
        transform: translateY(0);
    }

    80% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(26px);
    }
}

/*Notas abajo de la nav*/

.note {
    border-top: solid 2px #d8d8d8;
    display: flex;
    justify-content: center;
    background-color: #000000;
    padding: 1rem;

    .note1 {
        animation: note-animate 5.5s ease-in-out forwards;
        color: #ffffff;
        font-size: 20px;
    }

    .note2 {
        animation: note-animate 5.5s ease-in-out forwards;
        display: none;
        color: #ffffff;
        font-size: 20px;
    }
}

/*Media Queries*/

@media (max-width: 1400px) {
    nav {
        .title-logo {
            gap: 2rem;

            h2 {
                font-size: 34px;
            }
        }

        .buttons {
            div {
                padding: 2.3rem;
            }

            a {
                font-size: 25px;
            }
        }
    }
}

@media (max-width: 1150px) {
    header {
        background: #245953;
    }

    nav {
        .title-logo {
            gap: 1.5rem;

            h2 {
                font-size: 30px;
            }
        }

        .buttons {
            div {
                padding: 1.7rem;
            }

            a {
                font-size: 22px;
            }
        }
    }
}

@media (max-width: 900px) {
    nav {
        .title-logo {
            gap: 1rem;

            h2 {
                font-size: 28px;
            }

            img {
                width: 3.5rem;
                height: 4.5rem;
            }
        }

        .buttons {
            div {
                padding: 1rem;
            }

            a {
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 800px) {
    header {
        background: #245953;
    }

    #menu-burger {
        display: block;
    }

    nav {
        .title-logo {
            h2 {
                font-size: 40px;
            }
        }

        .buttons {
            display: none;
        }
    }

    /*Menu Hamburguesa*/

    .menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4.7rem;
        height: 4.7rem;
        background-color: #000000;
        border-radius: 50%;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        position: fixed;
        top: 1.5%;
        right: 1rem;
        z-index: 30;
        cursor: pointer;
    }

    .menu-btn:before,
    .menu-btn:after,
    .menu-btn span {
        content: "";
        position: absolute;
        border-radius: 10px;
        height: 4px;
        width: 39px;
        background-color: #ffffff;
        transition: transform 0.3s ease;
    }

    .menu-btn:before {
        transform: translateY(-13px);
    }

    .menu-btn span {
        transform: translateY();
    }

    .menu-btn:after {
        transform: translateY(13px);
    }

    .menu-btn span.hide {
        display: none;
    }

    .menu-btn.close:before {
        transform: translateY(0) rotate(-45deg);
    }

    .menu-btn.close:after {
        transform: translateY(0) rotate(45deg);
    }

    .offcanvas {
        position: fixed;
        top: 0;
        right: -80%;
        width: 70%;
        height: 100%;
        background-color: #000000af;
        padding: 50px 20px;
        transition: transform 0.6s ease;
        z-index: 29;

        a {
            display: block;
            font-size: 25px;
            margin-bottom: 20px;
            color: #ffffff;
            text-decoration: none;
            width: 64%;

            /*Animacion de Botones*/
            &:hover {
                border-bottom: solid 2px #d8d8d8;
            }
        }

        .div-btn-dark_mode-burger {
            position: relative;
            z-index: 2;
            top: 2rem;
            right: 10rem;
            scale: 0.22;

            .label-btn-dark-mode-burger {
                width: 500px;
                height: 200px;
                position: relative;
                display: block;
                background: #ebebeb;
                border-radius: 200px;
                box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
                    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
                cursor: pointer;
            }

            .label-btn-dark-mode-burger:after {
                content: "";
                width: 180px;
                height: 180px;
                position: absolute;
                top: 10px;
                left: 10px;
                background: linear-gradient(180deg, #ffcc89, #d8860b);
                border-radius: 180px;
                box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
            }

            .label-btn-dark-mode-burger,
            .label-btn-dark-mode-burger:after {
                transition: 0.3s;
            }

            .label-btn-dark-mode-burger:active:after {
                width: 260px;
            }

            .input-btn-dark-mode-burger {
                width: 0;
                height: 0;
                visibility: hidden;
            }

            .input-btn-dark-mode-burger:checked+.label-btn-dark-mode-burger {
                background: #242424;
            }

            .input-btn-dark-mode-burger:checked+.label-btn-dark-mode-burger:after {
                left: 490px;
                transform: translateX(-100%);
                background: linear-gradient(180deg, #777, #3a3a3a);
            }

            .input-btn-dark-mode-burger:checked+.label-btn-dark-mode-burger+.sun-burger {
                fill: #7e7e7e;
            }

            .input-btn-dark-mode-burger:checked+.label-btn-dark-mode-burger+.moon-burger {
                fill: #7e7e7e;
            }

            .sun-moon-burger {
                position: absolute;
                width: 120px;
                top: 40px;
                z-index: 1;
            }

            .sun-burger {
                position: absolute;
                height: 9.5rem;
                width: 9.5rem;
                left: 17%;
                bottom: -135px;
                fill: #fff;
                transition: 0.3s;
            }

            .moon-burger {
                position: absolute;
                height: 9rem;
                width: 9rem;
                left: 273%;
                bottom: -130px;
                fill: #7e7e7e;
                transition: 0.3s;
            }
        }
    }

    .offcanvas.show {
        transform: translateX(-110%);
    }

    .close-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .menu-line {
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        margin: 10px 0;
    }
}

@media (max-width: 680px) {
    /*Animacion para las notas mediaquerie*/

    @keyframes note-animate {
        0% {
            opacity: 0;
            transform: translateY(-21px);
        }

        20% {
            opacity: 1;
            transform: translateY(0);
        }

        40% {
            opacity: 1;
            transform: translateY(0);
        }

        60% {
            opacity: 1;
            transform: translateY(0);
        }

        80% {
            opacity: 1;
            transform: translateY(0);
        }

        100% {
            opacity: 0;
            transform: translateY(21px);
        }
    }

    .note {
        padding: 0.8rem;

        .note1 {
            font-size: 15px;
        }

        .note2 {
            font-size: 15px;
        }
    }
}

@media (max-width: 600px) {
    nav {
        .title-logo {
            h2 {
                font-size: 33px;
            }

            img {
                margin: 0.7rem 1rem;
            }
        }
    }

    .menu-btn {
        top: 2%;
        width: 4rem;
        height: 4rem;
    }

    .menu-btn:before,
    .menu-btn:after,
    .menu-btn span {
        height: 3px;
        width: 34px;
    }

    .menu-btn:before {
        transform: translateY(-11px);
    }

    .menu-btn:after {
        transform: translateY(11px);
    }

    .offcanvas {
        a {
            font-size: 22px;
        }

        .div-btn-dark_mode-burger {
            right: 7rem;
            scale: 0.21;
        }
    }

    .offcanvas.show {
        transform: translateX(-100%);
    }
}

@media (max-width: 490px) {
    /*Animacion para las notas mediaquerie*/

    @keyframes note-animate {
        0% {
            opacity: 0;
            transform: translateY(-19px);
        }

        20% {
            opacity: 1;
            transform: translateY(0);
        }

        40% {
            opacity: 1;
            transform: translateY(0);
        }

        60% {
            opacity: 1;
            transform: translateY(0);
        }

        80% {
            opacity: 1;
            transform: translateY(0);
        }

        100% {
            opacity: 0;
            transform: translateY(19px);
        }
    }

    .note {
        .note1 {
            font-size: 13px;
        }

        .note2 {
            font-size: 13px;
        }
    }

    nav {
        .title-logo {
            h2 {
                font-size: 30px;
            }
        }
    }

    .menu-btn {
        top: 2.5%;
        width: 3.5rem;
        height: 3.5rem;
    }

    .menu-btn:before,
    .menu-btn:after,
    .menu-btn span {
        height: 3px;
        width: 27px;
    }

    .menu-btn:before {
        transform: translateY(-9px);
    }

    .menu-btn:after {
        transform: translateY(9px);
    }

    .offcanvas {
        a {
            font-size: 20px;
        }
    }
}

@media (max-width: 440px) {
    .note {
        .note1 {
            font-size: 12px;
        }

        .note2 {
            font-size: 12px;
        }
    }

    header {
        background: #245953;
    }

    nav {
        .title-logo {
            h2 {
                font-size: 24px;
            }
        }
    }
}

@media (max-width: 395px) {
    /*Animacion para las notas mediaquerie*/

    @keyframes note-animate {
        0% {
            opacity: 0;
            transform: translateY(-17px);
        }

        20% {
            opacity: 1;
            transform: translateY(0);
        }

        40% {
            opacity: 1;
            transform: translateY(0);
        }

        60% {
            opacity: 1;
            transform: translateY(0);
        }

        80% {
            opacity: 1;
            transform: translateY(0);
        }

        100% {
            opacity: 0;
            transform: translateY(17px);
        }
    }

    .note {
        .note1 {
            font-size: 11px;
        }

        .note2 {
            font-size: 11px;
        }
    }

    nav {
        .title-logo {
            h2 {
                font-size: 22px;
            }

            img {
                width: 3rem;
                height: 4rem;
            }
        }
    }

    .menu-btn {
        width: 3rem;
        height: 3rem;
    }

    .offcanvas {
        .div-btn-dark_mode-burger {
            right: 5rem;
            scale: 0.19;
        }
    }
}

@media (max-width: 360px) {
    .note {
        .note1 {
            font-size: 10px;
        }

        .note2 {
            font-size: 10px;
        }
    }

    nav {
        .title-logo {
            h2 {
                font-size: 20px;
            }
        }
    }

    .menu-btn {
        top: 3%;
        width: 2.6rem;
        height: 2.6rem;
    }

    .menu-btn:before,
    .menu-btn:after,
    .menu-btn span {
        height: 2px;
        width: 20px;
    }

    .menu-btn:before {
        transform: translateY(-7px);
    }

    .menu-btn:after {
        transform: translateY(7px);
    }
}