body {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto;

    .grid-header {
        grid-area: header;
        border-bottom: solid 2px #D8D8D8;
    }

    .grid-main {
        grid-area: main;
        background: #408E91;
    }

    .grid-footer {
        grid-area: footer;
    }
}