body {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;

    .grid-header {
        grid-area: header;
    }

    .grid-main {
        grid-area: main;
        background: rgb(168, 100, 100);
        background: linear-gradient(78deg, rgba(168, 100, 100, 1) 40%, rgba(128, 70, 116, 1) 75%);

    }

    .grid-footer {
        grid-area: footer;
    }
}